@model W3SHARE.Models.Metadata

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Metadata</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeoLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeoLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaptureBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaptureBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaptureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaptureDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
