@model IEnumerable<W3SHARE.Models.Access>

@{
    ViewData["Title"] = "Index";
}

<h1>Users with access to the photo</h1>

<p>
    <a asp-action="Create">Add access</a>
</p>
<table class="table">
    <thead>
        <tr>
            //Fix to only display email addresses 
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AccessId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AccessId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AccessId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
